#title {
  background: no-repeat url("/helpmepage/images/istockphoto-810482982-612x612.jpeg");
  background-size: cover;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Open Sans-Light";
  font-size: 2.5rem;
  line-height: 1.5;

  color: #7575a3;
}
h1:hover {
  color: #fff;
  text-align: right;
}
.container-fluid {
  padding: 3% 7%;
}
h2 {
  font-family: "Sans-Light";
  font-size: 2.5rem;
  line-height: 1.5;
}
h3 {
  font-family: "Sans-Bold";

  font-weight: bold;
}
p {
  color: #8f8f8f;
}
/*Nav*/
.navbar {
  padding-bottom: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.1rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
  margin-right: 2%;
}
.nav-link {
  font-size: 1.2rem;
}
/*Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*title-image*/
.title-image {
  width: 46%;
  border-radius: 20% / 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  margin-left: 8%;
}
.title-image:hover {
  transform: scaleX(-1);
}
/*features*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: -1;
}
.features-box {
  text-align: center;
  padding: 4.5%;
}
.icon {
  color: #7575a3;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #7db2bd;
}
/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #7db2bd;
  color: #fff;
}
.testimonial-image {
  width: 10%;

  border-top-right-radius: 50%;
  border: #fff 10px double;
  background-clip: content-box;

  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

/* press */

#press {
  background-color: #e6fff7;
  text-align: center;
  padding: 3%;
}
.press-photo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

/*cta*/
#cta {
  text-align: center;
  background-color: aquamarine;
  padding: 3%;
  padding-bottom: 2%;
  color: #7575a3;
}
/*Footer*/

#footer {
  text-align: center;
  padding: 3%;
}
.img-footer {
  color: #8f8f8f;
  padding: 1%;
  padding-bottom: 2%;
}
/*media queries*/
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
  }
}
